In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from transformers import pipeline, TFAutoModelForSequenceClassification, AutoTokenizer
from sklearn.model_selection import train_test_split
import tensorflow as tf
import torch

# NLTK resources (only if using NLTK for sentiment analysis)
nltk.download('vader_lexicon')

# Set display options to prevent scientific notation
pd.set_option('display.float_format', '{:,.2f}'.format)

# Set a style for Seaborn visualizations
sns.set(style="whitegrid")

# Optional: Verify that TensorFlow is using Metal acceleration
physical_devices = tf.config.list_physical_devices('GPU')
print("Num GPUs Available: ", len(physical_devices))

/Users/reebal/FH-Wedel/SS24/Ã–konometrie/my-projects/140-Characters-and-Billion-Dollar-Moves/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Num GPUs Available:  1

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/reebal/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Tesla Stock Data
tesla_data = pd.read_csv('data/TSLA.csv')

# Elon Musk Tweets
tweets_data = pd.read_csv('data/elonmusk.csv')

In [3]:
tesla_data.head()

         Date  Open  High   Low  Close  Adj Close     Volume
0  2015-01-12 13.54 13.63 13.28  13.48      13.48   89254500
1  2015-01-13 13.55 13.84 13.39  13.62      13.62   67159500
2  2015-01-14 12.39 13.01 12.33  12.85      12.85  173278500
3  2015-01-15 12.97 13.05 12.67  12.79      12.79   78247500
4  2015-01-16 12.71 12.97 12.64  12.87      12.87   54048000

In [4]:
tweets_data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1282939902531796993,1282933079431151618,1594711683000,2020-07-14,07:28:03,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
1,1282844872571904000,1282801938111791104,1594689026000,2020-07-14,01:10:26,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
2,1282805559834492929,1282758532312584193,1594679653000,2020-07-13,22:34:13,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
3,1282800187308572672,1282671714657157120,1594678372000,2020-07-13,22:12:52,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN
4,1282800078000803840,1282739486816964615,1594678346000,2020-07-13,22:12:26,UTC,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '44196397', 'username': 'elonmusk...",NaN,NaN,NaN,NaN

In [5]:
tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9286 entries, 0 to 9285
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               9286 non-null   int64
 1   conversation_id  9286 non-null   int64
 2   created_at       9286 non-null   int64
 3   date             9286 non-null   object
 4   time             9286 non-null   object
 5   timezone         9286 non-null   object
 6   user_id          9286 non-null   int64
 7   username         9286 non-null   object
 8   name             9286 non-null   object
 9   place            0 non-null      float64
 10  tweet            9286 non-null   object
 11  mentions         9286 non-null   object
 12  urls             9286 non-null   object
 13  photos           9286 non-null   object
 14  replies_count    9286 non-null   int64
 15  retweets_count   9286 non-null   int64
 16  likes_count      9286 non-null   int64
 17  hashtags         9286 non-null   object
 18  cashtags         9286 non-null   object
 19  link             9286 non-null   object
 20  retweet          9286 non-null   bool
 21  quote_url        355 non-null    object
 22  video            9286 non-null   int64
 23  near             0 non-null      float64
 24  geo              0 non-null      float64
 25  source           0 non-null      float64
 26  user_rt_id       0 non-null      float64
 27  user_rt          0 non-null      float64
 28  retweet_id       0 non-null      float64
 29  reply_to         9286 non-null   object
 30  retweet_date     0 non-null      float64
 31  translate        0 non-null      float64
 32  trans_src        0 non-null      float64
 33  trans_dest       0 non-null      float64
dtypes: bool(1), float64(11), int64(8), object(14)
memory usage: 2.3+ MB

In [6]:
tweets_data.drop(['id',
                    'conversation_id',
                    'created_at',
                    'timezone',
                    'user_id',
                    'username',
                    'name',
                    'mentions',
                    'place',
                    'urls',
                    'photos',
                    'hashtags',
                    'cashtags',
                    'link',
                    'retweet',
                    'quote_url',
                    'video',
                    'reply_to',
                    'near',
                    'geo',
                    'source',
                    'user_rt_id',
                    'user_rt',
                    'retweet_id',
                    'retweet_date',
                    'translate',
                    'trans_src',
                    'trans_dest'
                ], axis=1, inplace=True)

In [7]:
tweets_data.head()

,date,time,tweet,replies_count,retweets_count,likes_count
0,2020-07-14,07:28:03,Cute,222,176,7883
1,2020-07-14,01:10:26,Wow,346,180,4241
2,2020-07-13,22:34:13,Reusability is essential. A rocket that is sin...,102,126,1551
3,2020-07-13,22:12:52,Wild times!,438,415,13421
4,2020-07-13,22:12:26,Weâ€™re being extra paranoid. Maximizing probabi...,128,155,4238

In [8]:
# Tesla Data: Convert 'Date' to datetime format and sort by date
tesla_data['Date'] = pd.to_datetime(tesla_data['Date'])
tesla_data = tesla_data.sort_values(by='Date')

# Tweets Data: Convert 'date' and 'time to to date and time format and sort by date than time
tweets_data['date'] = pd.to_datetime(tweets_data['date'])  # Convert 'date' to datetime format
tweets_data['time'] = pd.to_datetime(tweets_data['time'], format='%H:%M:%S').dt.time  # Convert 'time' to time format
tweets_data = tweets_data.sort_values(by=['date', 'time'])  # Sort by both 'date' and 'time'

In [9]:
tweets_data.head(50)

,date,time,tweet,replies_count,retweets_count,likes_count
9285,2015-01-30,03:25:33,"If you are curious about the P85D, you can sch...",243,462,796
9284,2015-02-08,18:38:58,Launching our 1st deep space mission today. He...,354,3026,4198
9283,2015-02-08,19:43:58,Rocket reentry will be much tougher this time ...,241,1154,2176
9282,2015-02-08,23:13:28,Air Force tracking radar went down. Launch pos...,205,1479,1147
9281,2015-02-08,23:17:57,Prob good though. Will give us time to replace...,99,452,940
9280,2015-02-10,16:12:46,"""What Are The Civilian Applications?"" https://...",390,647,719
9279,2015-02-10,19:53:37,Extreme wind shear over Cape Canaveral. Feels ...,78,346,616
9278,2015-02-10,23:12:58,Launch postponed to tomorrow due to high winds...,82,587,986
9277,2015-02-11,01:35:29,Dragon splashdown off the California coast pic...,162,1888,3807
9276,2015-02-11,03:24:08,Coming home pic.twitter.com/FmrmYs6R6V,204,2289,4897
9275,2015-02-11,22:20:29,Mega storm preventing droneship from remaining...,241,927,1092
9274,2015-02-11,22:22:38,Can't delay any longer. Must proceed with prim...,85,474,1056
9273,2015-02-11,22:24:25,Planning a significant upgrade of the droneshi...,212,618,1687
9272,2015-02-11,22:27:59,@DanielLockyer We could actually do that...may...,55,186,665
9271,2015-02-11,23:43:22,Primary mission on target. Spacecraft head tow...,114,681,1667
9270,2015-02-11,23:52:07,Rocket soft landed in the ocean within 10m of ...,700,3830,5383
9269,2015-02-12,03:39:24,Landing on a stormy sea pic.twitter.com/7EY25g...,244,1467,2660
9268,2015-02-24,21:01:45,Tesla Model S rated by @ConsumerReports as bes...,187,1668,2101
9267,2015-02-26,19:01:25,Excellent and funny intro article about Artifi...,198,1586,2101
9266,2015-03-02,01:38:36,Next landing attempt will be 3rd launch from n...,64,500,1004
9265,2015-03-02,04:30:27,Both satellites deployed on target. Now firing...,100,673,1535
9264,2015-03-02,04:47:56,Upgrades in the works to allow landing for geo...,102,399,996
9263,2015-03-07,01:23:42,Some shots of the Gigafactory pilot plant (~20...,129,616,1097
9262,2015-03-08,14:46:37,There is no slowdown of the Gigafactory constr...,91,560,1299
9261,2015-03-11,06:02:10,Model S in drag race against snowmobile on ice...,145,963,1319
9260,2015-03-12,21:55:27,Seems like an opportune moment to bring up the...,520,653,1159
9259,2015-03-12,21:56:18,"Btw, please don't mention the pyramids. Stacki...",344,1222,2533
9258,2015-03-12,22:00:35,The rumor that I'm building a spaceship to get...,1024,11746,14642
9257,2015-03-13,00:47:14,"The ancient Egyptians were amazing, but if ali...",306,1136,1968
9256,2015-03-13,00:52:41,For more on the Fermi Paradox: http://amzn.co...,111,556,1139
9255,2015-03-13,01:31:34,Maybe this is all the work of the Stonecutters...,94,319,694
9254,2015-03-14,06:54:35,World's largest hedge fund soon to be powered ...,314,1748,1424
9253,2015-03-15,12:16:34,SolarCity systems generated a new daily record...,103,997,1394
9252,2015-03-16,18:12:56,Some people seem to think I tweet to affect sh...,142,642,1465
9251,2015-03-16,18:15:20,Neither I nor the company are selling shares. ...,156,617,2146
9250,2015-03-17,04:49:06,Battery pack swap is active between SF and LA ...,72,610,1265
9249,2015-03-17,21:35:51,"To be clear, Tesla is strongly in favor of peo...",138,721,1678
9248,2015-03-17,21:37:31,"However, when self-driving cars become safer t...",474,888,1587
9247,2015-03-18,20:13:43,Thanks to everyone that supported Tesla in New...,166,701,1639
9246,2015-03-21,08:27:51,SpaceX Photos Are Now Available Under a Creati...,59,890,1215
9245,2015-03-21,09:20:15,@Pandoomic Just changed them to full public do...,49,236,619
9244,2015-03-21,09:40:54,Another Easter Egg will be hidden in the Model...,93,566,1069
9243,2015-03-21,09:42:39,"@AbeAlem Unfortunately, Asimov's books largely...",22,37,143
9242,2015-03-22,04:47:53,Reading Look to Windward by Banks. He is an am...,241,215,903
9241,2015-03-23,04:26:07,Falcon 9 lifting off with 1.3 mmmillion pounds...,260,2045,4185
9240,2015-03-23,16:42:14,"Maybe it's wrong, but I really want to see mam...",376,647,1212
9239,2015-03-24,21:17:56,"Contrary to press reports, I'm not against fly...",136,574,1201
9238,2015-03-24,21:22:08,Flying car pros: travel in 3D fast. Cons: risk...,179,886,1373
9237,2015-03-24,21:26:16,Reasons I like tunnels: you still travel in 3D...,189,860,1974
9236,2015-03-24,21:32:58,Right move is try both tunnels and flying cars...,317,1190,1817

In [10]:
tesla_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,2372,"2,372.00","2,372.00","2,372.00","2,372.00","2,372.00","2,372.00"
mean,2019-09-26 22:39:51.905564928,107.08,109.41,104.57,107.04,107.04,"113,526,808.07"
min,2015-01-12 00:00:00,9.49,10.33,9.40,9.58,9.58,"10,620,000.00"
25%,2017-05-18 18:00:00,16.87,17.18,16.64,16.92,16.92,"66,855,825.00"
50%,2019-09-26 12:00:00,23.80,24.23,23.44,23.78,23.78,"93,598,550.00"
75%,2022-02-02 06:00:00,210.01,215.65,205.48,210.14,210.14,"131,854,100.00"
max,2024-06-13 00:00:00,411.47,414.50,405.67,409.97,409.97,"914,082,000.00"
std,NaN,109.88,112.30,107.20,109.78,109.78,"75,566,868.97"

In [11]:
tweets_data.describe()

,date,replies_count,retweets_count,likes_count
count,9286,"9,286.00","9,286.00","9,286.00"
mean,2018-10-23 22:46:29.748007680,512.96,"2,282.84","18,734.80"
min,2015-01-30 00:00:00,0.00,0.00,21.00
25%,2018-02-22 00:00:00,43.25,43.00,943.00
50%,2019-01-27 00:00:00,103.00,129.00,"2,341.50"
75%,2019-10-25 00:00:00,371.00,955.75,"11,598.50"
max,2020-07-14 00:00:00,"49,529.00","384,289.00","1,682,551.00"
std,NaN,"1,720.32","10,546.78","59,295.79"

In [12]:
# Check for missing values in Tesla stock data
print(tesla_data.isnull().sum())

# Check for missing values in Tweets data
print(tweets_data.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
date              0
time              0
tweet             0
replies_count     0
retweets_count    0
likes_count       0
dtype: int64

In [13]:
model_name = "distilbert-base-uncased-finetuned-sst-2-english"
model = TFAutoModelForSequenceClassification.from_pretrained(model_name)
tokenizer = AutoTokenizer.from_pretrained(model_name)

# Tokenize input
inputs = tokenizer("I love using TensorFlow with Metal!", return_tensors="tf")

# Perform inference
outputs = model(**inputs)

# Get sentiment
sentiment = tf.argmax(outputs.logits, axis=1).numpy()
print("Sentiment:", sentiment)

Metal device set to: Apple M1 Pro

systemMemory: 16.00 GB
maxCacheSize: 5.33 GB

2024-08-23 20:19:25.652492: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:303] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2024-08-23 20:19:25.652517: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:269] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
All PyTorch model weights were used when initializing TFDistilBertForSequenceClassification.

All the weights of TFDistilBertForSequenceClassification were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFDistilBertForSequenceClassification for predictions without further training.
/Users/reebal/FH-Wedel/SS24/Ã–konometrie/my-projects/140-Characters-and-Billion-Dollar-Moves/.venv/lib/python3.10/site-packages/transformers/tokenization_utils_base.py:1601: FutureWarning: `clean_up_tokenization_spaces` was not set. It will be set to `True` by default. This behavior will be depracted in transformers v4.45, and will be then set to `False` by default. For more details check this issue: https://github.com/huggingface/transformers/issues/31884
  warnings.warn(

Sentiment: [1]

In [14]:
# Check if GPU (Metal) is available
device = 0 if torch.cuda.is_available() else -1

# Hugging Face pipeline for sentiment analysis (without `clean_up_tokenization_spaces`)
sentiment_pipeline = pipeline('sentiment-analysis', device=device)

# Apply sentiment analysis to each tweet
tweets_data['sentiment'] = tweets_data['tweet'].apply(lambda tweet: sentiment_pipeline(tweet)[0]['label'])

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [15]:
tweets_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9286 entries, 9285 to 0
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            9286 non-null   datetime64[ns]
 1   time            9286 non-null   object
 2   tweet           9286 non-null   object
 3   replies_count   9286 non-null   int64
 4   retweets_count  9286 non-null   int64
 5   likes_count     9286 non-null   int64
 6   sentiment       9286 non-null   object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 580.4+ KB

In [16]:
# Mapping sentiment labels to numeric values
sentiment_mapping = {'POSITIVE': 1, 'NEGATIVE': -1, 'NEUTRAL': 0}
tweets_data['sentiment_numeric'] = tweets_data['sentiment'].map(sentiment_mapping)

# Aggregation of tweets per day
daily_tweets = tweets_data.groupby(tweets_data['date'].dt.date).agg({
    'sentiment_numeric': 'mean',  # Apply mean on numeric sentiment column
    'likes_count': 'sum',
    'retweets_count': 'sum',
    'replies_count': 'sum'
}).reset_index()

# Rename the date column for clarity
daily_tweets.rename(columns={'date': 'Date'}, inplace=True)
daily_tweets['Date'] = pd.to_datetime(daily_tweets['Date'])

In [17]:
daily_tweets.head()

        Date  sentiment_numeric  likes_count  retweets_count  replies_count
0 2015-01-30              -1.00          796             462            243
1 2015-02-08               0.00         8461            6111            899
2 2015-02-10              -1.00         2321            1580            550
3 2015-02-11               0.00        20254           10893           1773
4 2015-02-12              -1.00         2660            1467            244

In [18]:
daily_tweets.describe()

,Date,sentiment_numeric,likes_count,retweets_count,replies_count
count,1360,"1,360.00","1,360.00","1,360.00","1,360.00"
mean,2018-04-11 13:14:07.058823424,-0.01,"127,920.09","15,587.12","3,502.45"
min,2015-01-30 00:00:00,-1.00,34.00,3.00,2.00
25%,2017-02-15 18:00:00,-0.40,"8,524.00","1,244.50",395.75
50%,2018-06-23 12:00:00,0.00,"38,859.50","4,483.50","1,412.00"
75%,2019-07-08 06:00:00,0.33,"147,692.25","14,580.50","3,949.25"
max,2020-07-14 00:00:00,1.00,"2,458,081.00","397,381.00","98,612.00"
std,NaN,0.63,"222,267.41","32,659.22","6,561.42"

In [19]:
# Merge the two datasets on the 'Date' column
merged_data = pd.merge(tesla_data, daily_tweets, on='Date', how='outer')

In [20]:
merged_data.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
0,2015-01-12,13.54,13.63,13.28,13.48,13.48,"89,254,500.00",NaN,NaN,NaN,NaN
1,2015-01-13,13.55,13.84,13.39,13.62,13.62,"67,159,500.00",NaN,NaN,NaN,NaN
2,2015-01-14,12.39,13.01,12.33,12.85,12.85,"173,278,500.00",NaN,NaN,NaN,NaN
3,2015-01-15,12.97,13.05,12.67,12.79,12.79,"78,247,500.00",NaN,NaN,NaN,NaN
4,2015-01-16,12.71,12.97,12.64,12.87,12.87,"54,048,000.00",NaN,NaN,NaN,NaN
5,2015-01-20,12.92,12.94,12.47,12.80,12.80,"67,548,000.00",NaN,NaN,NaN,NaN
6,2015-01-21,12.64,13.25,12.63,13.10,13.10,"62,295,000.00",NaN,NaN,NaN,NaN
7,2015-01-22,13.13,13.55,13.01,13.44,13.44,"61,753,500.00",NaN,NaN,NaN,NaN
8,2015-01-23,13.35,13.57,13.22,13.42,13.42,"51,579,000.00",NaN,NaN,NaN,NaN
9,2015-01-26,13.46,13.91,13.40,13.77,13.77,"48,517,500.00",NaN,NaN,NaN,NaN
10,2015-01-27,13.63,13.87,13.55,13.73,13.73,"41,715,000.00",NaN,NaN,NaN,NaN
11,2015-01-28,13.74,13.76,13.23,13.29,13.29,"47,244,000.00",NaN,NaN,NaN,NaN
12,2015-01-29,13.40,13.73,13.10,13.68,13.68,"53,221,500.00",NaN,NaN,NaN,NaN
13,2015-01-30,13.60,13.83,13.53,13.57,13.57,"45,105,000.00",-1.00,796.00,462.00,243.00
14,2015-02-02,13.60,14.13,13.55,14.06,14.06,"62,238,000.00",NaN,NaN,NaN,NaN
15,2015-02-03,14.21,14.69,14.08,14.56,14.56,"72,393,000.00",NaN,NaN,NaN,NaN
16,2015-02-04,14.55,14.77,14.45,14.57,14.57,"49,581,000.00",NaN,NaN,NaN,NaN
17,2015-02-05,14.66,15.03,14.64,14.73,14.73,"52,843,500.00",NaN,NaN,NaN,NaN
18,2015-02-06,14.80,14.89,14.43,14.49,14.49,"48,658,500.00",NaN,NaN,NaN,NaN
19,2015-02-08,NaN,NaN,NaN,NaN,NaN,NaN,0.00,"8,461.00","6,111.00",899.00
20,2015-02-09,14.36,14.53,14.13,14.50,14.50,"52,086,000.00",NaN,NaN,NaN,NaN
21,2015-02-10,14.50,14.70,14.33,14.42,14.42,"80,857,500.00",-1.00,"2,321.00","1,580.00",550.00
22,2015-02-11,14.15,14.32,13.82,14.19,14.19,"146,536,500.00",0.00,"20,254.00","10,893.00","1,773.00"
23,2015-02-12,12.90,13.54,12.89,13.53,13.53,"234,744,000.00",-1.00,"2,660.00","1,467.00",244.00
24,2015-02-13,13.53,13.73,13.39,13.58,13.58,"92,865,000.00",NaN,NaN,NaN,NaN
25,2015-02-17,13.71,13.71,13.43,13.62,13.62,"59,694,000.00",NaN,NaN,NaN,NaN
26,2015-02-18,13.61,13.74,13.51,13.63,13.63,"40,704,000.00",NaN,NaN,NaN,NaN
27,2015-02-19,13.67,14.16,13.58,14.11,14.11,"77,311,500.00",NaN,NaN,NaN,NaN
28,2015-02-20,14.05,14.51,13.99,14.47,14.47,"89,731,500.00",NaN,NaN,NaN,NaN
29,2015-02-23,14.38,14.55,13.76,13.82,13.82,"127,497,000.00",NaN,NaN,NaN,NaN
30,2015-02-24,13.82,13.82,13.45,13.61,13.61,"99,054,000.00",1.00,"2,101.00","1,668.00",187.00
31,2015-02-25,13.66,13.81,13.51,13.58,13.58,"58,642,500.00",NaN,NaN,NaN,NaN
32,2015-02-26,13.60,14.07,13.48,13.81,13.81,"97,093,500.00",1.00,"2,101.00","1,586.00",198.00
33,2015-02-27,13.79,13.90,13.52,13.56,13.56,"58,231,500.00",NaN,NaN,NaN,NaN
34,2015-03-02,13.51,13.56,13.06,13.16,13.16,"118,831,500.00",0.33,"3,535.00","1,572.00",266.00
35,2015-03-03,13.12,13.35,13.02,13.30,13.30,"66,484,500.00",NaN,NaN,NaN,NaN
36,2015-03-04,13.28,13.50,13.15,13.50,13.50,"63,330,000.00",NaN,NaN,NaN,NaN
37,2015-03-05,13.52,13.75,13.34,13.38,13.38,"73,155,000.00",NaN,NaN,NaN,NaN
38,2015-03-06,13.28,13.38,12.81,12.93,12.93,"100,686,000.00",NaN,NaN,NaN,NaN
39,2015-03-07,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"1,097.00",616.00,129.00
40,2015-03-08,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"1,299.00",560.00,91.00
41,2015-03-09,12.96,12.97,12.55,12.73,12.73,"101,050,500.00",NaN,NaN,NaN,NaN
42,2015-03-10,12.56,12.90,12.51,12.69,12.69,"83,695,500.00",NaN,NaN,NaN,NaN
43,2015-03-11,12.74,13.08,12.73,12.92,12.92,"74,623,500.00",-1.00,"1,319.00",963.00,145.00
44,2015-03-12,12.92,12.96,12.65,12.74,12.74,"62,239,500.00",-1.00,"18,334.00","13,621.00","1,888.00"
45,2015-03-13,12.60,12.78,12.49,12.58,12.58,"81,514,500.00",-0.33,"3,801.00","2,011.00",511.00
46,2015-03-14,NaN,NaN,NaN,NaN,NaN,NaN,1.00,"1,424.00","1,748.00",314.00
47,2015-03-15,NaN,NaN,NaN,NaN,NaN,NaN,1.00,"1,394.00",997.00,103.00
48,2015-03-16,12.80,13.06,12.65,13.05,13.05,"84,432,000.00",-1.00,"3,611.00","1,259.00",298.00
49,2015-03-17,13.03,13.25,12.93,12.98,12.98,"73,411,500.00",0.33,"4,530.00","2,219.00",684.00

In [21]:
subset_merged_data = merged_data.iloc[102:151]
subset_merged_data

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
102,2015-05-19,16.56,16.73,16.41,16.48,16.48,"55,113,000.00",-1.00,"2,484.00","2,615.00",302.00
103,2015-05-20,16.48,16.52,16.09,16.29,16.29,"56,334,000.00",NaN,NaN,NaN,NaN
104,2015-05-21,16.20,16.44,16.16,16.37,16.37,"29,559,000.00",NaN,NaN,NaN,NaN
105,2015-05-22,16.36,16.57,16.33,16.52,16.52,"33,346,500.00",-1.00,"2,005.00","1,160.00","1,031.00"
106,2015-05-26,16.51,16.80,16.43,16.50,16.50,"52,480,500.00",NaN,NaN,NaN,NaN
107,2015-05-27,16.57,16.63,16.37,16.50,16.50,"51,123,000.00",1.00,"2,313.00","1,188.00",235.00
108,2015-05-28,16.47,16.79,16.34,16.76,16.76,"54,709,500.00",NaN,NaN,NaN,NaN
109,2015-05-29,16.73,16.86,16.63,16.72,16.72,"56,839,500.00",NaN,NaN,NaN,NaN
110,2015-06-01,16.76,16.77,16.50,16.63,16.63,"37,576,500.00",1.00,241.00,39.00,38.00
111,2015-06-02,16.59,16.63,16.42,16.56,16.56,"32,022,000.00",NaN,NaN,NaN,NaN
112,2015-06-03,16.55,16.71,16.47,16.60,16.60,"26,722,500.00",NaN,NaN,NaN,NaN
113,2015-06-04,16.50,16.62,16.38,16.39,16.39,"36,804,000.00",NaN,NaN,NaN,NaN
114,2015-06-05,16.40,16.65,16.38,16.61,16.61,"45,330,000.00",NaN,NaN,NaN,NaN
115,2015-06-08,16.72,17.25,16.69,17.09,17.09,"75,255,000.00",NaN,NaN,NaN,NaN
116,2015-06-09,17.03,17.18,16.94,17.07,17.07,"39,166,500.00",NaN,NaN,NaN,NaN
117,2015-06-10,16.79,16.93,16.57,16.71,16.71,"51,817,500.00",NaN,NaN,NaN,NaN
118,2015-06-11,16.88,16.96,16.70,16.76,16.76,"30,661,500.00",NaN,NaN,NaN,NaN
119,2015-06-12,16.68,16.90,16.68,16.71,16.71,"21,334,500.00",1.00,657.00,139.00,52.00
120,2015-06-15,16.65,16.75,16.40,16.69,16.69,"32,793,000.00",1.00,"2,044.00",965.00,120.00
121,2015-06-16,16.68,16.90,16.61,16.87,16.87,"29,770,500.00",NaN,NaN,NaN,NaN
122,2015-06-17,16.81,17.62,16.80,17.36,17.36,"82,693,500.00",NaN,NaN,NaN,NaN
123,2015-06-18,17.47,17.56,17.33,17.46,17.46,"41,740,500.00",NaN,NaN,NaN,NaN
124,2015-06-19,17.49,17.59,17.34,17.50,17.50,"36,945,000.00",1.00,"1,667.00",834.00,142.00
125,2015-06-22,17.48,17.63,17.05,17.32,17.32,"68,416,500.00",NaN,NaN,NaN,NaN
126,2015-06-23,17.35,17.87,17.24,17.84,17.84,"58,062,000.00",1.00,"1,617.00",813.00,142.00
127,2015-06-24,17.80,17.82,17.58,17.68,17.68,"36,184,500.00",NaN,NaN,NaN,NaN
128,2015-06-25,17.76,18.09,17.68,17.92,17.92,"42,738,000.00",NaN,NaN,NaN,NaN
129,2015-06-26,17.93,17.94,17.73,17.81,17.81,"57,576,000.00",NaN,NaN,NaN,NaN
130,2015-06-27,NaN,NaN,NaN,NaN,NaN,NaN,-0.33,"4,782.00","2,975.00",416.00
131,2015-06-28,NaN,NaN,NaN,NaN,NaN,NaN,0.00,"9,480.00","9,765.00","1,718.00"
132,2015-06-29,17.46,17.73,17.38,17.47,17.47,"52,183,500.00",-1.00,"3,561.00","2,294.00",667.00
133,2015-06-30,17.65,18.06,17.60,17.88,17.88,"46,303,500.00",NaN,NaN,NaN,NaN
134,2015-07-01,18.07,18.17,17.86,17.94,17.94,"31,518,000.00",NaN,NaN,NaN,NaN
135,2015-07-02,18.68,18.83,18.22,18.67,18.67,"107,458,500.00",NaN,NaN,NaN,NaN
136,2015-07-06,18.59,18.78,18.42,18.65,18.65,"61,828,500.00",-1.00,"2,044.00","1,038.00",219.00
137,2015-07-07,18.33,18.35,17.38,17.86,17.86,"91,576,500.00",NaN,NaN,NaN,NaN
138,2015-07-08,17.29,17.39,16.95,17.00,17.00,"93,316,500.00",NaN,NaN,NaN,NaN
139,2015-07-09,17.27,17.53,17.12,17.19,17.19,"50,011,500.00",NaN,NaN,NaN,NaN
140,2015-07-10,17.48,17.53,17.19,17.28,17.28,"39,163,500.00",NaN,NaN,NaN,NaN
141,2015-07-13,17.48,17.50,17.07,17.48,17.48,"44,404,500.00",NaN,NaN,NaN,NaN
142,2015-07-14,17.47,17.73,17.37,17.71,17.71,"28,614,000.00",NaN,NaN,NaN,NaN
143,2015-07-15,17.78,17.83,17.47,17.54,17.54,"30,324,000.00",NaN,NaN,NaN,NaN
144,2015-07-16,17.61,17.81,17.54,17.78,17.78,"24,240,000.00",NaN,NaN,NaN,NaN
145,2015-07-17,18.17,18.37,17.88,18.31,18.31,"75,061,500.00",-1.00,"1,650.00",770.00,143.00
146,2015-07-18,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"2,182.00","1,172.00",223.00
147,2015-07-20,18.33,19.11,18.17,18.82,18.82,"74,677,500.00",NaN,NaN,NaN,NaN
148,2015-07-21,18.00,18.23,17.77,17.78,17.78,"91,630,500.00",NaN,NaN,NaN,NaN
149,2015-07-22,17.42,17.96,17.39,17.86,17.86,"46,575,000.00",NaN,NaN,NaN,NaN
150,2015-07-23,17.98,17.99,17.68,17.81,17.81,"33,408,000.00",NaN,NaN,NaN,NaN

In [22]:
merged_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
count,2784,"2,372.00","2,372.00","2,372.00","2,372.00","2,372.00","2,372.00","1,360.00","1,360.00","1,360.00","1,360.00"
mean,2019-07-08 07:03:06.206896640,107.08,109.41,104.57,107.04,107.04,"113,526,808.07",-0.01,"127,920.09","15,587.12","3,502.45"
min,2015-01-12 00:00:00,9.49,10.33,9.40,9.58,9.58,"10,620,000.00",-1.00,34.00,3.00,2.00
25%,2017-04-30 06:00:00,16.87,17.18,16.64,16.92,16.92,"66,855,825.00",-0.40,"8,524.00","1,244.50",395.75
50%,2019-05-16 12:00:00,23.80,24.23,23.44,23.78,23.78,"93,598,550.00",0.00,"38,859.50","4,483.50","1,412.00"
75%,2021-09-07 06:00:00,210.01,215.65,205.48,210.14,210.14,"131,854,100.00",0.33,"147,692.25","14,580.50","3,949.25"
max,2024-06-13 00:00:00,411.47,414.50,405.67,409.97,409.97,"914,082,000.00",1.00,"2,458,081.00","397,381.00","98,612.00"
std,NaN,109.88,112.30,107.20,109.78,109.78,"75,566,868.97",0.63,"222,267.41","32,659.22","6,561.42"

In [23]:
# Define the date range
start_date = '2015-01-30'
end_date = '2020-07-14'

# Filter the data to keep only rows within the desired date range
filtered_data = merged_data[(merged_data['Date'] >= start_date) & (merged_data['Date'] <= end_date)]

In [24]:
# Replace NaN values in the specified columns with 0 for filtered_data using .loc
filtered_data.loc[:, ['sentiment_numeric', 'likes_count', 'retweets_count', 'replies_count']] = filtered_data.loc[:, ['sentiment_numeric', 'likes_count', 'retweets_count', 'replies_count']].fillna(0)

In [25]:
filtered_data.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
13,2015-01-30,13.60,13.83,13.53,13.57,13.57,"45,105,000.00",-1.00,796.00,462.00,243.00
14,2015-02-02,13.60,14.13,13.55,14.06,14.06,"62,238,000.00",0.00,0.00,0.00,0.00
15,2015-02-03,14.21,14.69,14.08,14.56,14.56,"72,393,000.00",0.00,0.00,0.00,0.00
16,2015-02-04,14.55,14.77,14.45,14.57,14.57,"49,581,000.00",0.00,0.00,0.00,0.00
17,2015-02-05,14.66,15.03,14.64,14.73,14.73,"52,843,500.00",0.00,0.00,0.00,0.00
18,2015-02-06,14.80,14.89,14.43,14.49,14.49,"48,658,500.00",0.00,0.00,0.00,0.00
19,2015-02-08,NaN,NaN,NaN,NaN,NaN,NaN,0.00,"8,461.00","6,111.00",899.00
20,2015-02-09,14.36,14.53,14.13,14.50,14.50,"52,086,000.00",0.00,0.00,0.00,0.00
21,2015-02-10,14.50,14.70,14.33,14.42,14.42,"80,857,500.00",-1.00,"2,321.00","1,580.00",550.00
22,2015-02-11,14.15,14.32,13.82,14.19,14.19,"146,536,500.00",0.00,"20,254.00","10,893.00","1,773.00"
23,2015-02-12,12.90,13.54,12.89,13.53,13.53,"234,744,000.00",-1.00,"2,660.00","1,467.00",244.00
24,2015-02-13,13.53,13.73,13.39,13.58,13.58,"92,865,000.00",0.00,0.00,0.00,0.00
25,2015-02-17,13.71,13.71,13.43,13.62,13.62,"59,694,000.00",0.00,0.00,0.00,0.00
26,2015-02-18,13.61,13.74,13.51,13.63,13.63,"40,704,000.00",0.00,0.00,0.00,0.00
27,2015-02-19,13.67,14.16,13.58,14.11,14.11,"77,311,500.00",0.00,0.00,0.00,0.00
28,2015-02-20,14.05,14.51,13.99,14.47,14.47,"89,731,500.00",0.00,0.00,0.00,0.00
29,2015-02-23,14.38,14.55,13.76,13.82,13.82,"127,497,000.00",0.00,0.00,0.00,0.00
30,2015-02-24,13.82,13.82,13.45,13.61,13.61,"99,054,000.00",1.00,"2,101.00","1,668.00",187.00
31,2015-02-25,13.66,13.81,13.51,13.58,13.58,"58,642,500.00",0.00,0.00,0.00,0.00
32,2015-02-26,13.60,14.07,13.48,13.81,13.81,"97,093,500.00",1.00,"2,101.00","1,586.00",198.00
33,2015-02-27,13.79,13.90,13.52,13.56,13.56,"58,231,500.00",0.00,0.00,0.00,0.00
34,2015-03-02,13.51,13.56,13.06,13.16,13.16,"118,831,500.00",0.33,"3,535.00","1,572.00",266.00
35,2015-03-03,13.12,13.35,13.02,13.30,13.30,"66,484,500.00",0.00,0.00,0.00,0.00
36,2015-03-04,13.28,13.50,13.15,13.50,13.50,"63,330,000.00",0.00,0.00,0.00,0.00
37,2015-03-05,13.52,13.75,13.34,13.38,13.38,"73,155,000.00",0.00,0.00,0.00,0.00
38,2015-03-06,13.28,13.38,12.81,12.93,12.93,"100,686,000.00",0.00,0.00,0.00,0.00
39,2015-03-07,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"1,097.00",616.00,129.00
40,2015-03-08,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"1,299.00",560.00,91.00
41,2015-03-09,12.96,12.97,12.55,12.73,12.73,"101,050,500.00",0.00,0.00,0.00,0.00
42,2015-03-10,12.56,12.90,12.51,12.69,12.69,"83,695,500.00",0.00,0.00,0.00,0.00
43,2015-03-11,12.74,13.08,12.73,12.92,12.92,"74,623,500.00",-1.00,"1,319.00",963.00,145.00
44,2015-03-12,12.92,12.96,12.65,12.74,12.74,"62,239,500.00",-1.00,"18,334.00","13,621.00","1,888.00"
45,2015-03-13,12.60,12.78,12.49,12.58,12.58,"81,514,500.00",-0.33,"3,801.00","2,011.00",511.00
46,2015-03-14,NaN,NaN,NaN,NaN,NaN,NaN,1.00,"1,424.00","1,748.00",314.00
47,2015-03-15,NaN,NaN,NaN,NaN,NaN,NaN,1.00,"1,394.00",997.00,103.00
48,2015-03-16,12.80,13.06,12.65,13.05,13.05,"84,432,000.00",-1.00,"3,611.00","1,259.00",298.00
49,2015-03-17,13.03,13.25,12.93,12.98,12.98,"73,411,500.00",0.33,"4,530.00","2,219.00",684.00
50,2015-03-18,13.00,13.39,12.87,13.38,13.38,"72,313,500.00",1.00,"1,639.00",701.00,166.00
51,2015-03-19,13.47,13.64,12.97,13.04,13.04,"127,128,000.00",0.00,0.00,0.00,0.00
52,2015-03-20,13.16,13.27,13.04,13.21,13.21,"64,042,500.00",0.00,0.00,0.00,0.00
53,2015-03-21,NaN,NaN,NaN,NaN,NaN,NaN,-1.00,"3,046.00","1,729.00",223.00
54,2015-03-22,NaN,NaN,NaN,NaN,NaN,NaN,1.00,903.00,215.00,241.00
55,2015-03-23,13.23,13.37,13.16,13.31,13.31,"39,474,000.00",1.00,"5,397.00","2,692.00",636.00
56,2015-03-24,13.44,13.59,13.32,13.45,13.45,"54,748,500.00",0.00,"6,365.00","3,510.00",821.00
57,2015-03-25,13.22,13.24,12.85,12.95,12.95,"85,956,000.00",0.00,0.00,0.00,0.00
58,2015-03-26,12.93,12.99,12.65,12.69,12.69,"61,920,000.00",0.00,0.00,0.00,0.00
59,2015-03-27,12.60,12.62,12.09,12.33,12.33,"129,073,500.00",0.00,0.00,0.00,0.00
60,2015-03-30,12.39,12.82,12.12,12.70,12.70,"151,342,500.00",1.00,"5,392.00","6,342.00","1,032.00"
61,2015-03-31,12.90,12.92,12.56,12.58,12.58,"75,399,000.00",-1.00,"3,703.00","2,066.00",629.00
62,2015-04-01,12.58,12.82,12.40,12.51,12.51,"56,919,000.00",1.00,"2,033.00","1,642.00",368.00

In [26]:
# Iterate through the rows of the DataFrame
index = 0

while index < len(filtered_data):
    # Check if 'Open' is NaN at the current index
    if pd.isna(filtered_data.iloc[index]['Open']):
        # Initialize variables for aggregation
        sentiment_sum = 0
        likes_sum = 0
        retweets_sum = 0
        replies_sum = 0
        count = 0
        
        # Start at the current index and keep track of the first valid row after NaNs
        next_valid_index = index
        
        # Aggregate the values over consecutive NaN rows in 'Open'
        while next_valid_index < len(filtered_data) and pd.isna(filtered_data.iloc[next_valid_index]['Open']):
            sentiment_sum += filtered_data.iloc[next_valid_index]['sentiment_numeric']
            likes_sum += filtered_data.iloc[next_valid_index]['likes_count']
            retweets_sum += filtered_data.iloc[next_valid_index]['retweets_count']
            replies_sum += filtered_data.iloc[next_valid_index]['replies_count']
            count += 1
            next_valid_index += 1
        
        # Check if the next row with non-NaN 'Open' exists
        if next_valid_index < len(filtered_data):
            # Add the sentiment_numeric from the valid next day to the aggregation
            sentiment_sum += filtered_data.iloc[next_valid_index]['sentiment_numeric']
            likes_sum += filtered_data.iloc[next_valid_index]['likes_count']
            retweets_sum += filtered_data.iloc[next_valid_index]['retweets_count']
            replies_sum += filtered_data.iloc[next_valid_index]['replies_count']
            count += 1
            
            # Set the sentiment_numeric value to the mean of the aggregated values
            filtered_data.iloc[next_valid_index, filtered_data.columns.get_loc('sentiment_numeric')] = sentiment_sum / count
            # Set the sums for the other columns
            filtered_data.iloc[next_valid_index, filtered_data.columns.get_loc('likes_count')] = likes_sum
            filtered_data.iloc[next_valid_index, filtered_data.columns.get_loc('retweets_count')] = retweets_sum
            filtered_data.iloc[next_valid_index, filtered_data.columns.get_loc('replies_count')] = replies_sum
        
        # Drop all NaN rows from the DataFrame (we don't need them anymore)
        filtered_data = filtered_data.drop(filtered_data.index[index:next_valid_index])
        
        # Continue from the next valid index
        index = next_valid_index
    else:
        index += 1

In [33]:
filtered_data.head(50)

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
13,2015-01-30,13.60,13.83,13.53,13.57,13.57,"45,105,000.00",-1.00,796.00,462.00,243.00
14,2015-02-02,13.60,14.13,13.55,14.06,14.06,"62,238,000.00",0.00,0.00,0.00,0.00
15,2015-02-03,14.21,14.69,14.08,14.56,14.56,"72,393,000.00",0.00,0.00,0.00,0.00
16,2015-02-04,14.55,14.77,14.45,14.57,14.57,"49,581,000.00",0.00,0.00,0.00,0.00
17,2015-02-05,14.66,15.03,14.64,14.73,14.73,"52,843,500.00",0.00,0.00,0.00,0.00
18,2015-02-06,14.80,14.89,14.43,14.49,14.49,"48,658,500.00",0.00,0.00,0.00,0.00
20,2015-02-09,14.36,14.53,14.13,14.50,14.50,"52,086,000.00",0.00,"8,461.00","6,111.00",899.00
21,2015-02-10,14.50,14.70,14.33,14.42,14.42,"80,857,500.00",-1.00,"2,321.00","1,580.00",550.00
22,2015-02-11,14.15,14.32,13.82,14.19,14.19,"146,536,500.00",0.00,"20,254.00","10,893.00","1,773.00"
23,2015-02-12,12.90,13.54,12.89,13.53,13.53,"234,744,000.00",-1.00,"2,660.00","1,467.00",244.00
24,2015-02-13,13.53,13.73,13.39,13.58,13.58,"92,865,000.00",0.00,0.00,0.00,0.00
25,2015-02-17,13.71,13.71,13.43,13.62,13.62,"59,694,000.00",0.00,0.00,0.00,0.00
26,2015-02-18,13.61,13.74,13.51,13.63,13.63,"40,704,000.00",0.00,0.00,0.00,0.00
27,2015-02-19,13.67,14.16,13.58,14.11,14.11,"77,311,500.00",0.00,0.00,0.00,0.00
28,2015-02-20,14.05,14.51,13.99,14.47,14.47,"89,731,500.00",0.00,0.00,0.00,0.00
29,2015-02-23,14.38,14.55,13.76,13.82,13.82,"127,497,000.00",0.00,0.00,0.00,0.00
30,2015-02-24,13.82,13.82,13.45,13.61,13.61,"99,054,000.00",1.00,"2,101.00","1,668.00",187.00
31,2015-02-25,13.66,13.81,13.51,13.58,13.58,"58,642,500.00",0.00,0.00,0.00,0.00
32,2015-02-26,13.60,14.07,13.48,13.81,13.81,"97,093,500.00",1.00,"2,101.00","1,586.00",198.00
33,2015-02-27,13.79,13.90,13.52,13.56,13.56,"58,231,500.00",0.00,0.00,0.00,0.00
34,2015-03-02,13.51,13.56,13.06,13.16,13.16,"118,831,500.00",0.33,"3,535.00","1,572.00",266.00
35,2015-03-03,13.12,13.35,13.02,13.30,13.30,"66,484,500.00",0.00,0.00,0.00,0.00
36,2015-03-04,13.28,13.50,13.15,13.50,13.50,"63,330,000.00",0.00,0.00,0.00,0.00
37,2015-03-05,13.52,13.75,13.34,13.38,13.38,"73,155,000.00",0.00,0.00,0.00,0.00
38,2015-03-06,13.28,13.38,12.81,12.93,12.93,"100,686,000.00",0.00,0.00,0.00,0.00
41,2015-03-09,12.96,12.97,12.55,12.73,12.73,"101,050,500.00",-0.67,"2,396.00","1,176.00",220.00
42,2015-03-10,12.56,12.90,12.51,12.69,12.69,"83,695,500.00",0.00,0.00,0.00,0.00
43,2015-03-11,12.74,13.08,12.73,12.92,12.92,"74,623,500.00",-1.00,"1,319.00",963.00,145.00
44,2015-03-12,12.92,12.96,12.65,12.74,12.74,"62,239,500.00",-1.00,"18,334.00","13,621.00","1,888.00"
45,2015-03-13,12.60,12.78,12.49,12.58,12.58,"81,514,500.00",-0.33,"3,801.00","2,011.00",511.00
48,2015-03-16,12.80,13.06,12.65,13.05,13.05,"84,432,000.00",0.33,"6,429.00","4,004.00",715.00
49,2015-03-17,13.03,13.25,12.93,12.98,12.98,"73,411,500.00",0.33,"4,530.00","2,219.00",684.00
50,2015-03-18,13.00,13.39,12.87,13.38,13.38,"72,313,500.00",1.00,"1,639.00",701.00,166.00
51,2015-03-19,13.47,13.64,12.97,13.04,13.04,"127,128,000.00",0.00,0.00,0.00,0.00
52,2015-03-20,13.16,13.27,13.04,13.21,13.21,"64,042,500.00",0.00,0.00,0.00,0.00
55,2015-03-23,13.23,13.37,13.16,13.31,13.31,"39,474,000.00",0.33,"9,346.00","4,636.00","1,100.00"
56,2015-03-24,13.44,13.59,13.32,13.45,13.45,"54,748,500.00",0.00,"6,365.00","3,510.00",821.00
57,2015-03-25,13.22,13.24,12.85,12.95,12.95,"85,956,000.00",0.00,0.00,0.00,0.00
58,2015-03-26,12.93,12.99,12.65,12.69,12.69,"61,920,000.00",0.00,0.00,0.00,0.00
59,2015-03-27,12.60,12.62,12.09,12.33,12.33,"129,073,500.00",0.00,0.00,0.00,0.00
60,2015-03-30,12.39,12.82,12.12,12.70,12.70,"151,342,500.00",1.00,"5,392.00","6,342.00","1,032.00"
61,2015-03-31,12.90,12.92,12.56,12.58,12.58,"75,399,000.00",-1.00,"3,703.00","2,066.00",629.00
62,2015-04-01,12.58,12.82,12.40,12.51,12.51,"56,919,000.00",1.00,"2,033.00","1,642.00",368.00
63,2015-04-02,12.68,12.88,12.67,12.73,12.73,"75,156,000.00",0.00,0.00,0.00,0.00
65,2015-04-06,13.20,13.85,13.17,13.54,13.54,"186,837,000.00",-0.33,"5,660.00","2,784.00",835.00
66,2015-04-07,13.50,13.67,13.41,13.55,13.55,"65,218,500.00",0.00,0.00,0.00,0.00
67,2015-04-08,13.88,14.06,13.72,13.84,13.84,"94,546,500.00",0.00,0.00,0.00,0.00
68,2015-04-09,13.90,14.02,13.74,14.01,14.01,"57,003,000.00",-1.00,752.00,409.00,68.00
69,2015-04-10,13.99,14.11,13.93,14.06,14.06,"61,015,500.00",0.00,0.00,0.00,0.00
72,2015-04-13,14.03,14.20,13.94,13.99,13.99,"56,373,000.00",-0.33,"9,731.00","5,500.00","1,285.00"

In [28]:
# Calculate the number of zeros and non-zeros in 'likes_count' column
likes_count_zeros = (filtered_data['likes_count'] == 0).sum()
likes_count_non_zeros = (filtered_data['likes_count'] != 0).sum()

# Calculate the total number of rows
total_likes_count = len(filtered_data)

# Calculate percentages
likes_count_zeros_percentage = (likes_count_zeros / total_likes_count) * 100
likes_count_non_zeros_percentage = (likes_count_non_zeros / total_likes_count) * 100

# Display the results
print(f"Number of rows with 0 likes_count: {likes_count_zeros}")
print(f"Number of rows with non-zero likes_count: {likes_count_non_zeros}")
print(f"Percentage of rows with 0 likes_count: {likes_count_zeros_percentage:.2f}%")
print(f"Percentage of rows with non-zero likes_count: {likes_count_non_zeros_percentage:.2f}%")

Number of rows with 0 likes_count: 356
Number of rows with non-zero likes_count: 1018
Percentage of rows with 0 likes_count: 25.91%
Percentage of rows with non-zero likes_count: 74.09%

In [29]:
filtered_data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume,sentiment_numeric,likes_count,retweets_count,replies_count
count,1374,"1,373.00","1,373.00","1,373.00","1,373.00","1,373.00","1,373.00","1,374.00","1,374.00","1,374.00","1,374.00"
mean,2017-10-21 08:20:57.641921536,21.18,21.61,20.75,21.20,21.20,"116,025,499.27",-0.00,"126,616.68","15,428.30","3,466.76"
min,2015-01-30 00:00:00,9.49,10.33,9.40,9.58,9.58,"10,620,000.00",-1.00,0.00,0.00,0.00
25%,2016-06-10 18:00:00,15.10,15.31,14.81,15.06,15.06,"62,526,000.00",-0.20,0.00,0.00,0.00
50%,2017-10-19 12:00:00,17.99,18.33,17.73,18.01,18.01,"89,580,000.00",0.00,"17,087.50","2,489.50",772.00
75%,2019-03-04 18:00:00,22.37,22.82,22.00,22.34,22.34,"134,556,000.00",0.19,"107,996.75","13,109.00","3,385.50"
max,2020-07-14 00:00:00,110.60,119.67,98.07,102.98,102.98,"914,082,000.00",1.00,"2,829,985.00","397,381.00","98,612.00"
std,NaN,11.47,11.90,11.03,11.49,11.49,"87,168,059.56",0.49,"274,839.22","36,955.91","7,840.60"

In [34]:
filtered_data.to_csv('data/filtered_merged_data.csv', index=False)

In [35]:
filtered_data.to_pickle('data/filtered_merged_data.pkl')